body {
    margin: 0;
    background-color:#f3f3f3;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,p {
    color: #232323;
}

h2 {
    font-size: 18px;
}

h1 {
    font-size: 20px;
}

h4, p {
    font-size: 16px;
}

/*burger menu navigation*/

.menu {
    margin: 0 0px 0px 0;
    text-align: center;
    background-color:#69b0b9;
    overflow: hidden;
    
}
.menu a {
    clear: right;
    text-decoration: none;
    color: #f3f3f3;
    margin: 0 90px;
    line-height: 70px;
}

label {
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 100%;
    float: right;
    background-color: #69b0b9;
    color: #f3f3f3;
    text-align: right;    
    }


#toggle {
    display: none; 
}

/*Hr styling*/

hr {
    background-color: #69b0b9;
    height: 2px;
    border: none;
    width: 80%;
    margin-top: 20px;
}

/*Button styling*/

button {
    background-color: #69b0b9;
    border: none;
    border-radius: 3px;
    color: #f3f3f3;
    height: 40px;
    width: 100px;

}


/*portræt sektion styling*/

.portret {
    text-align: center;
}

.portret img {
    width: 500px;
}

/*ryk af tekster mm.*/

.projekter h1 {
margin-left: 40px;
}
.ommig {
    margin-left: 40px;
}
.anbefaling h1 {
    margin-left: 40px;
}
.kontakt {
    margin-left: 40px;
}
.kompetencer {
    margin-left: 40px;
}
.cta {
    margin-left: 40px;
}
.overskrift h1 {
    margin-left: 40px;
}

/*Projekt sektion*/

.sneakerkids {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.sneakerkids button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.projekter img {
    width: 400px;
}

.msd {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.msd button{
    margin-top: 10px;
    margin-bottom: 20px;
}

.carpany {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carpany button {
    margin-top: 10px;
}

.fivejive {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fivejive button {
    margin-top: 10px;
}

.karolina {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.karolina button {
    margin-top: 10px;
}

.arprina {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.arprina button {
    margin-top: 10px;
}
/*kompetencer*/

.kompetencer h3 {
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 12px;
}

.kompetencer img {
width: 50%;
height: 15px;
}

.projekter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    }

/*anbfaling*/

.carina {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.carina p {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 340px;
    font-style: italic;
}

/*kontakt*/

.kontakt img {
    width: auto;
    height: 25px;
}

.kontakt h4 {
    margin-left: 50px;
    margin-top: 3px;
}

.mail h4 {
    margin-left: 38px;
}

.tlf {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.mail {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.linkedin {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.kontakt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
    }

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
        }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .portret {
        padding-top: 70px;
    }
    .portret img {
        width: 400px;
    }
    .projekter {
        display: flex;
        flex-direction: column;
    }
    .kontakt {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 501px) {
    h2 {
        font-size: 14px;
    }
    
    h1 {
        font-size: 16px;
    }
    
    h4, p {
        font-size: 12px;
}